 <link rel="stylesheet" href="/public/css/footer.css">
 <!-- footer -->
 <footer>
    <div class="about">
      <h1><span class="logo-text">JavaScript </span> <span>Blog</span></h1>
      <p>
        Created with <a href="https://www.udemy.com/">Udemy</a> and <a href="https://inovotekacademy.com/">iNovotek Academy</a>!
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-envelope"></i>
          
          <a href="mailto:fnk8476@gmail.com">
            Karen Adkins--Full Stack Web Developer
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://github.com/KarenAdkins84">
          <i class="fa-brands fa-square-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/karen-adkins-26a825246/">
          <i class="fa-brands fa-linkedin"></i>
        </a>
  </footer>